@page
@model MiniDMS.Pages.Files.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add Document</h4>
<hr />
<div class="d-flex justify-content-center">
    <div>
        <form method="post" enctype="multipart/form-data" style="width: 400px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileModel.FileName" class="control-label"></label>
                <input asp-for="FileModel.FileName" class="form-control" />
                <span asp-validation-for="FileModel.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileModel.UploadDate" class="control-label"></label>
                <input asp-for="FileModel.UploadDate" class="form-control" value="@Model._date" disabled readonly />
                <span asp-validation-for="FileModel.UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileModel.CreateDate" class="control-label"></label>
                <input asp-for="FileModel.CreateDate" class="form-control" value="@Model._date" />
                <span asp-validation-for="FileModel.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileModel.Version" class="control-label"></label>
                <input asp-for="FileModel.Version" class="form-control" value="1.0"/>
                <span asp-validation-for="FileModel.Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileModel.Owner" class="control-label"></label>
                <input asp-for="FileModel.Owner" class="form-control" value="@User.Identity.Name" disabled readonly />
                <span asp-validation-for="FileModel.Owner" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="FileModel.Whitelist" class="control-label"></label>
                <input asp-for="FileModel.Whitelist" class="form-control" disabled readonly value="Not yet implemented."/>
                <span asp-validation-for="FileModel.Whitelist" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFile" class="control-label"></label>
                <input asp-for="FormFile" class="form-control" accept=".pdf, .docx" />
                <span class=>
            </div>
            <div class="mt-3">
                <input type="submit" value="Create" class="btn btn-primary float-end" />
                <a class="btn btn-outline-secondary" asp-area="" asp-route-folder="@Model._id" asp-page="/Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
