@page
@model MiniDMS.Pages.Documents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Document.FileName" class="control-label"></label>
                <input asp-for="Document.FileName" class="form-control" />
                <span asp-validation-for="Document.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.UploadDate" class="control-label"></label>
                <input asp-for="Document.UploadDate" class="form-control" />
                <span asp-validation-for="Document.UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.Owner" class="control-label"></label>
                <input asp-for="Document.Owner" class="form-control" value="@Model.Owner" readonly="@(true)" />
                <span asp-validation-for="Document.Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
